<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.axe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AXE"
        android:usesCleartextTraffic="true">
        <activity android:name="Activities.SearchAble"
            android:theme="@style/Theme.ToolarSearchView"></activity>
        <activity android:name="Activities.PlayerSettings">

        </activity>
        <activity android:name="Activities.SeeMore" />
        <activity android:name="Activities.TvShowDetail">
            >
        </activity>
        <activity android:name="Activities.VideoDetails" />
        <activity
            android:name="Activities.MainActivity"
            android:theme="@style/Theme.ToolarSearchView" />
        <activity android:name="Activities.SPLASH_SCREEN">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Activities.Login" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>